<br/>
<br/>
<div class = "container-md">
<div class="col-md-12">
    <h2>Movie List</h2>
    <br/>
    <br/>
    <button class = 'btn btn-primary' (click)= "addMov()" >Add Movie</button>
    <div class = "container mt-5">
      <div class = "form-group">
        <input type = "text" class = "form-control" placeholder = "Search..." [(ngModel)] = "filterTerm"/>
      </div>

    </div>
    <div class="table-responsive table-container table-striped">
      <table class="table">
        <thead class = "thead-dark">
          <tr>
            <th>Id</th>
            <th>Movie Name</th>
            <th>Movie Description</th>
            <th>Duration</th>
            <th>Genre</th>
            <th>Release Year</th>
            <th>Actors</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies | filter: filterTerm">
            <td class="hidden">{{ movie.movieId }}</td>
            <td>{{movie.movieTitle}}</td>
            <td>{{ movie.movieDesc }}</td>
            <td>{{ movie.duration }}</td>
            <td>{{movie.genres}}</td>
            <td>{{ movie.releaseYear}} </td>
            <td>{{movie.actor}}</td>
            
            <td><button class = "btn btn-primary" (click) = "editMov()"> Edit </button></td>
            <td><button class = "btn btn-danger" (click) = "deleteMovie(movie)"> Delete </button></td>
            
         </tr>
         </tbody>
         </table>
        
         </div>
         </div>
         </div>

         <!-- <div *ngFor = "let mov of movies">
          <div *ngIf = "mov.genres === 'Comedy'">
            <div class="row">
            <div class="col-sm-6">
         <div class="card" style="width: 18rem;">
           <div class = "card-header">{{mov.genres}}</div>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{mov.movieTitle}}</h5>
              <p class="card-text">{{mov.movieDesc}} </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          </div>
          </div>
          </div> -->
     